/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #ffffff;
    background-color: #f3e1e1;
  }

.file {
  max-width: 800px;
}

button {
  width: 70px;
  height: 50px;
}



