/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    text-indent: 17 px;
    border: solid 1px #ec7171;
    background-color: #3ddca7;
  }

h1 {
    color:fuchsia
    font-size: 140%
}

p {
    text-indent: 24px;
    margin-left: 14px;
}