/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    text-indent: 17 px;
    border: solid 1px #000000;
    background-color: #ffffff;
    
  }

  #content {
    background-color:rgb(255, 239, 216);
    width: 1800px;
    height: 2200px;

}