/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }



.minor-section {
h3 {
    font-family: "Arial";
  }

h4 {
    font-family: "Arial"
    font-size: 20px;
}
}

.comments {
  max-width: 800px;
}

.indexhtml {
  max-width: 800px;

}