/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #e7e7da;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: sans-serif;
  font-weight: 200;
  color:rgb(202, 120, 61)
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: darksalmon;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #888;
  background-color: #ffffff;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #cddbcf;
}

p {
  color: rgb(194, 129, 194);

}

