/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

h3 {
  color:rgb(55, 0, 255);

}

h1, h2 {
  color: rgb(41, 113, 73);

}

#content {
color:rgb(55, 0, 255);
background-color: #ffffff;
}

p {
  color: purple;
}


.minor-section {
  margin: 70px;
  width: 1200px;
  background-color: rgba(83, 142, 196, 0.707);
}

.MainRide {
  max-width: 500px;
}

.Road {
  max-width: 400px;
  max-height: 462px;
}


body {
  background-color: #a4d0ff;

}