/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

h3 {
  color:rgb(55, 0, 255);

}

h1, h2 {
  color: rgba(72, 157, 110, 0.722);

}

#content {
color:rgb(55, 0, 255);

}


.minor-section {
  margin: 70px;
  width: 1200px;
}

.MainRide {
  max-width: 500px;
}

.Road {
  max-width: 400px;
  max-height: 462px;
}

#images {
  text-align: center;
}