/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #ffffff;
    background-color: #f3e1e1;
  }

.file {
  max-width: 800px;
}



.special {
  background-color: palevioletred;
  border: dotted 30px rgba(249, 254, 149, 0.792);
  color: rgb(255, 154, 154);
  font-style: italic;
}




.text p {
  display: inline-block;
  max-width: 80%;
  margin: 7px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgb(232, 144, 192);
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.9em;
}


#activate {
  color: rgb(53, 93, 80);
  width: 100px;
  height: 140px;

}