/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }


  body {
    background-color: rgb(91, 91, 230);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 22 px;
    font-size:100%;
  }
  
  #content {
    background-color: rgb(250, 250, 172);
    font-family: monospace;
    padding: 25px;
    border: solid 1px;
    min-height:40vh;
  }


  
  .special {
    background-color: #ffffff;
    border: solid 1px rgb(255, 255, 255);
  }
  
  button.highlight-button {
    font-size: 80%;
  }



  .btn-secondary {
    background-color: rgb(111, 74, 56);
  }
  .btn {
    color: rgb(223, 121, 121);
  }

  #target {
    font-weight: bold;
    font-size: 10px;
  }
  
