/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 12px;
    margin-bottom: 10px;
    border: solid 8px #4f81ff;
    background-color: #d4c8e8;
    title-color: 
  }

  h1 {
    color:rgb(21, 0, 255);
    font-size: 140%;
    font-family: monospace;
}

p {
    text-indent: 24px;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#content {
    background-color:rgb(172, 129, 172);
    width: 600px;
    min-height: 440px;
    padding: 12px;
    margin: 11px;
    border: solid 3px rgba(114, 27, 255, 0.133);
    font-size: 17px;
}