/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

/*Header*/
.minor-section 
h1 {
    font-family: "Impact";
    color:blueviolet;
    padding: 20px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #C8A2C8;
  }

/*This is for the smaller text*/
p {
  font-family: "Courier New";
  margin-left: 15px;
}

