/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */


  h1 {
    color:rgb(21, 0, 255);
    font-size: 140%;
    font-family: monospace;
}

p {
    text-indent: 24px;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#content {
    background-color:rgb(172, 129, 172);
    width: 1800px;
    height: 780px;
    padding: 12px;
    margin: 11px;
    font-size: 17px;
    outline: dotted 20px yellow;
    outline-offset: -30x;
    border: 2px;
    min-height: 70vh;

}