/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #a8a8a8ce;
  }

h3 {
  color:rgb(55, 0, 255);

}

h1, h2 {
  color: rgb(41, 113, 73);

}

#content {
color:rgb(137, 74, 74);
background-color: #e5d38ec9;
}

p {
  color: purple;
}


.minor-section {
  margin: 70px;
  width: 1200px;
  background-color: rgba(203, 141, 48, 0.93);
}
